<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                <div class="section-heading">
                    <h2>Assessment Toolkit <span></span></h2>
                    <p class="subheading">Lorem ipsum send do tempor consectetur ipsum send do tempor.</p>
                </div>
                <p>
                   TCS Integration experts Continuously Innovate to address Technology Challenges and to find means to 
                   enable business adopt Mordern Integration Solutions in a Quick and Risk Free Manner.
                   <br><br>
                   The Tools & Accelerators listed here enable Organizations to Jump Start their journey to 
                   Integration and Modernization.

                </p>
               </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                <img height="" width="auto" src="assets/img/iphone62.png" class="attachment-full img-responsive" alt="">
            </div>
        </div>
    </div>
</section>


